<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bunny.android_2">

    <!-- Internet Permissions -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <!-- Permission to write to external storage -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>

    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Alarm System App"
        android:allowBackup="true">
        <activity
            android:name="com.example.bunny.android_2.MainActivity"
            android:label="Alarm System App" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:enabled="true"
            android:name="com.example.bunny.android_2.BackgroundService"
            android:label="Warner Service">
        </service>
    </application>
</manifest>
